<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.80.0">
    <title>Thomson - Facturacion</title>



    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/facturacion-forms.css" />
    <link rel="stylesheet" href="/css/select.css" />
    <!-- Favicons -->
    <!-- Custom styles for this template -->
    <link href="/css/dashboard.css" rel="stylesheet">
</head>

<body>

     <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark ">
            <div class="container-fluid">
                <a href="/Facturacion">
                    <img src="/css/assets/logo.png" alt="LOGO" width="150px" height="30px" id="logo" />
                </a>
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="toggle navigation">
                    <span class="navbar-toggler-icon"> </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto">
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Facturación</a>
                            <ul class="dropdown-menu dark2 bg-dark" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="nav-link" href="/facturacion/nueva-factura">Nueva-factura</a></li>
                                <li class="dropdown-submenu"><a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Facturas</a>
                                    <ul class="dropdown-menu dark2 bg-dark">
                                        <li><a class="nav-link" href="/facturacion/por-cobrar">Por cobrar</a></li>
                                        <li><a class="nav-link" href="/facturacion/cobradas">Cobradas</a></li>
                                        <li><a class="nav-link" href="/facturacion/ventas">Ventas</a></li> <!--Todas -->
                                        <li><a class="nav-link" href="/facturacion/anular-factura">Anular</a></li>
                                        <li><a class="nav-link" href="/facturacion/ordenes-compra">Orden de compra</a></li> <!--Pedidos de los clientes-->
                                        <li><a class="nav-link" href="/facturacion/nueva-cotizacion">Cotización</a></li> 
                                        <li><a class="nav-link" href="/facturacion/ver-cotizaciones">Ver cotizaciones</a></li> 
                                        <li><a class="nav-link" href="/facturacion/libro-contable">Libro contable</a></li> <!--Realizar cotizaciones sin afectar stock-->
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                             <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Cobranza</a>
                                   <ul class="dropdown-menu dark2 bg-dark" aria-labelledby="navbarDropdown">
                                <a class=" dropdown-item text-light" href="/facturacion/cobranza">
                                    <p class="name_product nav-link">Cobranza</p>
                                </a>
                                  <a class=" dropdown-item text-light" href="/facturacion/devolucion">
                                    <p class="name_product nav-link">Realizar Devolución</p>
                                </a>
                                <a class=" dropdown-item text-light" href="/facturacion/todas-devoluciones">
                                    <p class="name_product nav-link">Devoluciones</p>
                                </a>
                                <a class=" dropdown-item text-light" href="/facturacion/todos-recibos">
                                    <p class="name_product nav-link">Recibos de pago</p>
                                </a>
                                <a class=" dropdown-item text-light" href="/facturacion/reporte-cxc">
                                    <p class="name_product nav-link">Reporte de cuentas por cobrar</p>
                                </a>
                                
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                             <a class="nav-link active dropdown-toggle" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Inventario</a>
                                   <ul class="dropdown-menu dark2 bg-dark" aria-labelledby="navbarDropdown">
                                <a class=" dropdown-item text-light" href="/facturacion/registrar-stock">
                                    <p class="name_product nav-link">Crear Artículo</p>
                                </a>
                                <a class="dropdown-item text-light" href="/facturacion/stock">
                                    <p class="name_product nav-link">Editar Artículo</p>
                                </a>
                                      <a class=" dropdown-item text-light" href="/facturacion/registrar-garantias">
                                    <p class="name_product nav-link">Registrar garantías</p>
                                </a>
                                    <a class=" dropdown-item text-light" href="/facturacion/ver-garantias">
                                    <p class="name_product nav-link">Ver garantías</p>
                                </a>
                                </a>
                                    <a class=" dropdown-item text-light" href="/facturacion/estado-inventario">
                                    <p class="name_product nav-link">Estado de inventario</p>
                                </a>
                                 <a class=" dropdown-item text-light" href="/facturacion/reporte-ajustes">
                                    <p class="name_product nav-link">Reporte de movimientos</p>
                                </a>
                               <a class=" dropdown-item text-light" href="/facturacion/reporte-de-articulos">
                                    <p class="name_product nav-link">Reporte de articulos</p>
                                </a>
                                  <a class=" dropdown-item text-light" href="/facturacion/cambio-masivo-costo">
                                    <p class="name_product nav-link">Cambio masivo de costos</p>
                                </a>
                                  <a class=" dropdown-item text-light" href="/facturacion/reporte-stock">
                                    <p class="name_product nav-link">Reporte de stock</p>
                                </a>
                                  <li class="dropdown-submenu"><a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Ajuste de inventario</a>
                                    <ul class="dropdown-menu dark2 bg-dark">
                                        <li><a class="nav-link" href="/facturacion/descargar-stock">Descargar</a></li>
                                        <li><a class="nav-link" href="/facturacion/cargar-stock">Cargar</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <li class="nav-item dropdown">
                             <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Proveedor</a>
                                <ul class="dropdown-menu dark2 bg-dark" aria-labelledby="navbarDropdown">
                                    <a class=" dropdown-item text-light" href="/facturacion/crear-proveedor">
                                        <p class="name_product nav-link">Crear</p>
                                    </a>
                                    <a class="dropdown-item text-light" href="/facturacion/editar-proveedor">
                                        <p class="name_product nav-link">Editar</p>
                                    </a>
                                        <a class="dropdown-item text-light" href="/facturacion/realizar-ordenes">
                                        <p class="name_product nav-link">Realizar orden</p>
                                    </a>
                                    <a class="dropdown-item text-light" href="/facturacion/ordenes-proveedor">
                                        <p class="name_product nav-link">Lista de ordenes</p>
                                    </a>
                                    <a class="dropdown-item text-light" href="/facturacion/reporte-de-proveedores">
                                        <p class="name_product nav-link">Reporte de proveedores</p>
                                    </a>
                                </ul>
                            </li>
                        </li>

                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">Cliente</a>
                        <ul class="dropdown-menu dark2 bg-dark" aria-labelledby="navbarDropdown">
                            <a class=" dropdown-item text-light" href="/facturacion/registrar-cliente">
                                <p class="name_product nav-link">Registrar</p>
                            </a>
                            <a class="dropdown-item text-light" href="/facturacion/clientes">
                                <p class="name_product nav-link">Editar</p>
                            </a>
                            <a class="dropdown-item text-light" href="/facturacion/aprobar-usuarios">
                                <p class="name_product nav-link">Aprobar o rechazar</p>
                            </a>
                            <a class="dropdown-item text-light" href="/facturacion/pausar-activar-cliente">
                                <p class="name_product nav-link">Pausar o activar</p>
                            </a>
                            <a class="dropdown-item text-light" href="/facturacion/reporte-cliente">
                                <p class="name_product nav-link">Reportes</p>
                            </a>
                            <a class="dropdown-item text-light" href="/facturacion/reportes-precio">
                                <p class="name_product nav-link">Lista de precios</p>
                                </a>
                                <a class="dropdown-item text-light" href="/facturacion/solicitudes-recuperacion-contrasena">
                                <p class="name_product nav-link">Solicitudes de recuperación</p>
                            </a>
                        </ul>
                        </li>

                        <li class="nav-item dropdown">
                             <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Vendedor</a>
                                   <ul class="dropdown-menu dark2 bg-dark" aria-labelledby="navbarDropdown">
                                <a class=" dropdown-item text-light" href="/facturacion/registrar-vendedor">
                                    <p class="name_product nav-link">Registrar</p>
                                </a>
                                <a class="dropdown-item text-light" href="/facturacion/vendedores">
                                    <p class="name_product nav-link">Editar</p>
                                </a>
                                <a class="dropdown-item text-light" href="/facturacion/reporte-vendedores">
                                    <p class="name_product nav-link">Reportes</p>
                                </a>
                                <a class="dropdown-item text-light" href="/facturacion/pausar-activar-vendedor">
                                    <p class="name_product nav-link">Pausar o activar</p>
                                </a>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                             <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Transporte</a>
                                   <ul class="dropdown-menu dark2 bg-dark" aria-labelledby="navbarDropdown">
                               <a class=" dropdown-item text-light" href="/facturacion/registrar-transporte">
                                    <p class="name_product nav-link">Registrar</p>
                                </a>
                                <a class="dropdown-item text-light" href="/facturacion/transportes">
                                    <p class="name_product nav-link">Editar</p>
                                </a>
                                <a class="dropdown-item text-light" href="/facturacion/activar-inactivar-transporte">
                                    <p class="name_product nav-link">Pausar o activar</p>
                                </a>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                             <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Registrar perfil</a>
                                   <ul class="dropdown-menu dark2 bg-dark" aria-labelledby="navbarDropdown">
                                <a class=" dropdown-item text-light" href="/facturacion/registrar-usuario">
                                    <p class="name_product nav-link">Registrar</p>
                                </a>
                                <a class="dropdown-item text-light" href="/facturacion/usuarios">
                                    <p class="name_product nav-link">Editar</p>
                                </a>
                                <a class="dropdown-item text-light" href="/facturacion/pausar-activar-usuario">
                                    <p class="name_product nav-link">Pausar o activar</p>
                                </a>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                             <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Comisión</a>
                                   <ul class="dropdown-menu dark2 bg-dark" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item text-light" href="/facturacion/comision/por-cancelar">
                                    <p class="name_product nav-link">Por cancelar</p>
                                </a>
                                <a class="dropdown-item text-light" href="/facturacion/comision/canceladas">
                                    <p class="name_product nav-link">Canceladas</p>
                                </a>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                             <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Administración</a>
                                   <ul class="dropdown-menu dark2 bg-dark" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item text-light" href="/facturacion/administracion">
                                    <p class="name_product nav-link">Libro de entradas y salidas</p>
                                </a>
                                <a class="dropdown-item text-light" href="/facturacion/cuentas-por-pagar">
                                    <p class="name_product nav-link">Cuentas por pagar</p>
                                </a>
                            </ul>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link" href="/facturacion/agenda">Agenda</a>
                        </li>
                        
                         <li class="nav-item">
                            <a class="nav-link" href="/facturacion/dashboard">Dashboard</a>
                        </li>

                    </ul>
                       <ul class="navbar-nav ml-0 mr-0">
                            <li class="nav-item">
                                <a class="nav-link" href="/usuarios/cerrar-sesion">
                                    <button class="btn btn-outline-success" type="button">
                                        Cerrar sesión
                                    </button>
                                </a>
                            </li>
                        </ul>
                </div>
            </div>
        </nav>
  </header>
    <main>
    

        <div class="container-fluid mt-4">
            <div class="row">

                <div class="col-md">

                    <div class="container-fluid mt-2">
                        <di id="Contenedor"></di>
                        {{#each errors}}

                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{text}}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>

                        {{/each}}
                        {{#each ok}}

                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            {{text}}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>

                        {{/each}}


                        <div class="card mt-2">
                            <div class="card">

                                <div class="card-header">
                                    <h4 class="text-dark text-center">Registrar stock</h4>
                                </div>
                                <form action="" id="Detalle1">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label for="" class="text-dark">Fecha de ingreso:</label>
                                            <input type="date" id="date" name="date" class="form-control" value="{{date}}">
                                        </div>
                                        <div class="col-sm-3">
                                            <label for="" class="text-dark">Tipo de producto:</label>
                                            <select name="TipoProducto" class="form-control" id="TipoProducto">
                                                <option value="0">--Tipo de producto--</option>
                                                <option value="Amortiguador">Shock absorber</option>
                                                <option value="Base de amortiguador">Strut mount</option>
                                                <option value="Guardapolvo">Boot</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-2">
                                            <label for="" class="text-dark">Nombre:</label>
                                            <select name="Nombre" id="Nombre" class="form-control">
                                                <option value="0">--Nombre--</option>
                                                {{#each NombreP}}
                                                    <option value="{{Nombre}}">{{Nombre}}</option>
                                                {{/each}}
                                            </select>
                                            <div class="text-center">
                                                <button class="mt-2 btn btn-outline-success text-dark">Agregar</button>
                                                <button class="mt-2 btn btn-outline-success text-dark">Eliminar</button>
                                            </div>
                                        </div>
                                        <div class="col-sm-3" id="ProveedorContainer">
                                            <label for="" class="text-dark">Proveedor</label>
                                            <select name="Proveedor" id="Proveedor" class="form-control p-5 text-dark js-exam">
                                                
                                            </select>
                                         
                                        </div>

                                        <div class="col-sm-6">
                                            <label for="" class="text-dark">Codigo Thomson:</label>
                                            <input type="text" id="CodigoT" name="CodigoT" value="{{CodigoT}}"
                                                placeholder="Introduce un codigo Thomson" class="form-control">
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="" class="text-dark">Codigo Gabriel:</label>
                                            <input type="text" id="CodigoG" name="CodigoG" value="{{CodigoG}}"
                                                placeholder="Introduce un codigo Gabriel" class="form-control">
                                        </div>
                                        <div class="col-sm-6">
                                                <label for="" class="text-dark">Posicion:</label>
                                                <select name="Posicion" id="Posicion" class="form-control">
                                                    <option value="0">--Posicion--</option>
                                                    <option value="Delanteros">Delanteros</option>
                                                    <option value="Delantero derecho">Delantero derecho</option>
                                                    <option value="Delantero izquierdo">Delantero izquierdo</option>
                                                    <option value="Traseros">Traseros</option>
                                                    <option value="Trasero derecho">Trasero derecho</option>
                                                    <option value="Trasero izquierdo">Trasero izquierdo</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="" class="text-dark">Modelo del producto</label>
                                                <select name="Familia" id="Familia" class="form-control">
                                                    <option value="0">--Modelo--</option>
                                                    {{#each ModeloP}}
                                                    <option value="{{Nombre}}">{{Nombre}}</option>
                                                    {{/each}}
                                                </select>
                                                  <div class="text-center">
                                                <button class="mt-2 btn btn-outline-success text-dark">Agregar</button>
                                                <button class="mt-2 btn btn-outline-success text-dark">Eliminar</button>
                                            </div>
                                            </div>

                                            <div class="col-sm-4">
                                                <label for="" class="text-dark">Cantidad:</label>
                                                <input type="number" name="Cantidad" id="Cantidad"
                                                    placeholder="Introduce cantidad" class="form-control"
                                                    value="{{Cantidad}}">
                                            </div>
                                            <div class="col-sm-4">
                                                <label for="" class="text-dark">Costo FOB:</label>
                                                <input type="number" name="CostoM" id="CostoM"
                                                    placeholder="Introduce un costo" step="any" class="form-control"
                                                    value="{{CostoM}}">
                                            </div>
                                            
                                            <div class="col-sm-4">
                                                <label for="" class="text-dark">Costo Fob total:</label>
                                                <input type="number" name="CostoMT" class="form-control" step="any"
                                                    readonly id="CostoMT" value="{{costoMT}}">
                                            </div>
                                            <div class="col-sm-3">
                                                <label for="" class="text-dark">Alto:</label>
                                                <input type="number" id="Alto" step="any" class="form-control" placeholder="introduzca el alto">
                                            </div>
                                            <div class="col-sm-3">
                                                <label for="" class="text-dark">Largo:</label>
                                                <input type="number" id="Largo" step="any"  class="form-control" placeholder="introduzca el largo">
                                            </div>
                                            <div class="col-sm-3">
                                                <label for="" class="text-dark">Ancho:</label>
                                                <input type="number" id="Ancho" step="any" class="form-control" placeholder="introduzca el ancho">
                                            </div>
                                            <div class="col-sm-2">
                                                <label for="" class="text-dark">Unidades por bulto:</label>
                                                <input type="number" id="Unidades" step="any" class="form-control" placeholder="introduzca unidades por bulto">
                                            </div>
                                            <div class="col-sm-1">
                                                <label for="" class="text-dark">Peso:</label>
                                                <input type="number" id="Peso" step="any" class="form-control" placeholder="KG">
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-2 mb-3">
                            <div class="card">
                                </form>
                                <div class="card-header">
                                    <h5 class="text-dark text-center bg-light">Informacion por vehiculo</h4>
                                </div>
                                <form action="" id="Detalle">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <label for="" class="text-dark">Tipo de vehiculo:</label>
                                                <select class="form-control text-dark js-exam js-exam2" id="TipoVehiculo"
                                                    name="TipoVehiculo">
                                                    <option value="0" selected>--Seleccione vehiculo--</option>
                                                    <option value="Car">Car</option>
                                                    <option value="Truck">Truck</option>
                                                    <option value="Heavy-truck">Heavy truck</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-4">
                                                <label for="" class="text-dark">Marca:</label>
                                                <select class="form-control text-dark js-exam js-exam2" id="Marca" name="Marca">
                                                    <option value="0" selected>--Seleccione marca--</option>
                                                    {{#each Marca}}
                                                    <option value="{{Nombre}}">{{Nombre}}</option>
                                                    {{/each}}
                                                </select>
                                                  <div class="text-center">
                                                <button class="mt-2 btn btn-outline-success text-dark">Agregar</button>
                                                <button class="mt-2 btn btn-outline-success text-dark">Eliminar</button>
                                            </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <label for="" class="text-dark">Modelo:</label>
                                                <select name="Modelo" id="Modelo" class="form-control text-dark js-exam js-exam2">
                                                    <option value="0" selected>--Seleccione modelo--</option>
                                                    {{#each ModeloV}}
                                                    <option value="{{Nombre}}" >{{Nombre}}</option>
                                                    {{/each}}
                                                </select>
                                                  <div class="text-center">
                                                <button class="mt-2 btn btn-outline-success text-dark">Agregar</button>
                                                <button class="mt-2 btn btn-outline-success text-dark">Eliminar</button>
                                            </div>
                                            </div>
                                            <div class="col-sm-5">
                                                <label for="" class="text-dark">Desde (Año):</label>
                                                <input type="number" name="Desde" class="form-control" id="Desde"
                                                    min="1970" max="2099" step="1" value="{{Desde}}"
                                                    placeholder="2000" />
                                            </div>
                                            <div class="col-sm-5">
                                                <label for="" class="text-dark">Hasta (Año):</label>
                                                <input type="number" name="Hasta" class="form-control" id="Hasta"
                                                    min="1970" max="2099" step="1" value="{{Hasta}}"
                                                    placeholder="2000" />
                                            </div>
                                            
                                </form>
                                <div class="col-sm-2 mt-4 text-center">
                                    <buttun class="btn w-100 btn-outline-success text-dark" id="Agregar">+</buttun>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="col">
                    <div class="table-responsive">
                        <table class="table table-dark table-striped table-hover table-sm">
                            <thead class="">
                                <tr>
                                    <th>Tipo Vehiculo</th>
                                    <th>Marca</th>
                                    <th>Modelo</th>
                                    <th>Año</th>
                                    <th>Posicion</th>
                                    <th>Modelo producto</th>
                                    <th>Cantidad</th>
                                    <th>Costo FOB</th>
                                    <th>Costo FOB total</th>
                                    <th>Eliminar</th>
                                </tr>
                            </thead>
                            <tbody id="bodyTabla">

                            </tbody>
                        </table>
                    </div>
                </div>
                <input type="submit" value="Registrar producto" class="mt-2 btn btn-outline-success" id="GuardarStock">
            </div>
        </div>
        </div>
        </div>
    </main>



    <script src="/js/bootstrap.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="/js/facturacion/registrar-stock.js"></script>
    <script>
        document.addEventListener("keydown", e => {
            if(e.keyCode == 120 ){
                window.open('/facturacion/acceso-directo-stock', 'Stock', "width=1400, heigh=100%")
            }
        })
    </script>

<footer class="footer" style="background-color: rgba(41, 41, 41, 0.99);">
    <div class="container-fluid text-center mt-2">
        <span class="text-muted">SISTEMA ADMINISTRATIVO THOMSON</span>
    </div>
</footer>
</body>

</html>