<!DOCTYPE html>
<html id="HTML" lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thomson</title>
    <link rel="shortcut icon" href="/css/assets/logo_icon.png" />
    <script src="/js/bootstrap.bundle.js"></script>
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/thomson.css">
</head>

<body class="bg-dark">
  <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="bg-dark2 border-right border-warning" id="sidebar-wrapper">
                <div class="sidebar-heading text-warning"><img src="/css/assets/logo.png" width="180px" height="30px"> </div>
                <div class="list-group list-group-flush">
                    <a class="list-group-item text-warning list-group-item-action bg-dark2" href="/realizar-orden">Realizar orden</a>
                    <a class="list-group-item text-warning list-group-item-action bg-dark2" href="/anular-orden">Anular orden</a>
                    <a class="list-group-item text-warning list-group-item-action bg-dark2" href="/consultar-productos">Consulta de productos</a>
                    <a class="list-group-item text-warning list-group-item-action bg-dark2" href="/estado-cuenta">Estado de cuenta</a>
                    <a class="list-group-item text-warning list-group-item-action bg-dark2" href="/informacion-garantias">Información de garantias</a>
                    <a class="list-group-item text-warning list-group-item-action bg-dark2" href="/consultar-ordenes">Consulta de ordenes</a>
                    <a class="list-group-item text-warning list-group-item-action bg-dark2" href="/descargar-lista">Descargar lista</a>
                    <a class="list-group-item noticias-stock text-warning list-group-item-action bg-dark2"href="/noticias">Noticias</a>
                    <a class="list-group-item text-warning list-group-item-action bg-dark2" href="/perfil">Pefil</a>
                </div>
            </div>
            <!-- Page Content-->
            <div id="page-content-wrapper bg-dark">
                <nav class="navbar navbar-expand-lg navbar-light bg-dark border-bottom border-warning" >
                    <button class="btn btn-warning" id="menu-toggle">Menú</button>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                            <li class="nav-item">
                              <a href="/home-client" class="nav-link text-warning">Inicio</a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link btn btn-outline-success text-light" href="/usuarios/cerrar-sesion">Cerrar sesión</a>
                              </li>
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid">
                    <h1 class="mt-4 text-warning text-center">Estado de cuenta</h1>
                    <p class="lead text-center text-light">En esta sección podras visiualizar todas tus facturas, junto a el <span class="text-warning">saldo pendiente</span> a pagar de las mismas 
                        y sus respectivas <span class="text-warning">fechas de vencimiento</span>.
                    </p>
                    <hr class="bg-warning">
                    <div class="row mt-4">
                        <div class="col-sm-6 ml-3">
                            <p class="lead text-light" style="font-size: 22px;">Valor de todas las facturas: <span class="text-warning">${{ValorFacturas}}</span> </p>
                        </div>
                        <div class="col-sm-5 ml-3">
                            <p class="lead text-light" style="font-size: 22px;">Saldo pendiente a pagar: <span class="text-warning">${{PendienteAPagar}}</span></p>
                        </div>
                        <div class="col-sm-6 ml-3">
                            <p class="lead text-light" style="font-size: 22px;">Facturas emitidas: <span class="text-warning">{{FacturasEmitidas}}</span></p>
                        </div>
                        <div class="col-sm-5 ml-3">
                            <p class="lead text-light" style="font-size: 22px;">Facturas vencidas: <span class="text-danger">{{FacturasVencidas}}</span></p>
                        </div>
                        <div class="col-sm-12 text-right">
                            <a href="/descargar-estado-cuenta/" class="btn btn-warning"><strong>Descargar estado de cuenta</strong></a>
                        </div>
                    </div>
                      <div class="table-responsive mt-3">
                            <table class="table" id="tabla">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Factura</th>
                                        <th scope="col">Fecha vencimiento</th>
                                        <th scope="col">Estado vencimiento</th>
                                        <th scope="col">Valor total</th>
                                        <th scope="col">Saldo pendiente</th>
                                        <th scope="col">Pagar</th>
                                        <th scope="col">Historial</th>
                                        <th scope="col">Ver factura</th>
                                    </tr>
                                    <td colspan="8">
                                        <input id="buscar" type="text" class="form-control" placeholder="Escriba su busqueda para filtar" />
                                    </td>
                                </thead>
                                <tbody id="tbody">
                                    {{#each facturas}}
                                    <tr style="background-color: rgba(0,0,0,0.3);">
                                        <th class="text-light">{{Factura}}</th>
                                        <td class="text-light">{{Vencimiento}}</td>
                                        <td class="text-light">{{EstadoVencimiento}}</td>
                                        <td class="text-light">${{PrecioTotal}}</td>
                                        <td class="text-light">${{PendienteAPagar}}</td>
                                        <td class="text-light"><a href="/checkout/{{_id}}" class="text-warning">Pagar</a></td>
                                        <td class="text-light"><a href="/historia-factura/{{_id}}" class="text-info">Ver</a></td>
                                        <td class="text-light"><a href="/model-print/{{Factura}}" class="text-success">Ver</a></td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    <p style="color: transparent;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus
                    cumque deleniti nihil
                    aspernatur, rem magnam blanditiis? Iste temporibus molestias fugiat nobis? Pariatur enim maxime
                    reprehenderit cum sit
                    voluptatem doloremque nobis. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum,
                    ducimus hic sequi sed nulla quidem doloribus consequatur dolores deserunt iusto. Eveniet animi omnis
                    eum maxime esse dolor aperiam qui cumque.</p>
                    
                </div>
            </div>
        </div>
       <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/sidebars.js"></script>
    <script>
        const tbody = document.getElementById("tbody")
        for(i=0; i < tbody.children.length; i++){
            if(tbody.children[i].children[2].textContent == "Vencida"){
                tbody.children[i].children[2].classList.remove("text-light")
                tbody.children[i].children[2].classList.add("text-danger")
            }
        }
    const busqueda = document.getElementById('buscar');
    const table = document.getElementById("tabla").tBodies[0];
    busqueda.addEventListener("keydown", e => {
            if(e.keyCode == 13){
            e.preventDefault()
            }
        })
    buscaTabla = function () {
        texto = busqueda.value.toLowerCase();
        let r = 0;
        while (row = table.rows[r++]) {
            if (row.innerText.toLowerCase().indexOf(texto) !== -1)
                row.style.display = null;
            else
                row.style.display = 'none';
        }
    }
    busqueda.addEventListener('keyup', buscaTabla);
    </script>
</body>

</html>