<!doctype html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Hugo 0.80.0">
  <title>Thomson - Facturacion</title>



  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/facturacion-forms.css">
  <!-- Favicons -->


  <!-- Custom styles for this template -->
  <link href="/css/dashboard.css" rel="stylesheet">
</head>

<body>
  <header>
       <nav class="navbar navbar-expand-md navbar-dark bg-dark ">
            <div class="container-fluid">
                <a href="/Facturacion">
                    <img src="/css/assets/logo.png" alt="LOGO" width="150px" height="30px" id="logo" />
                </a>
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="toggle navigation">
                    <span class="navbar-toggler-icon"> </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto">
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Facturación</a>
                            <ul class="dropdown-menu dark2 bg-dark" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="nav-link" href="/facturacion/nueva-factura">Nueva-factura</a></li>
                                <li class="dropdown-submenu"><a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Facturas</a>
                                    <ul class="dropdown-menu dark2 bg-dark">
                                        <li><a class="nav-link" href="/facturacion/por-cobrar">Por cobrar</a></li>
                                        <li><a class="nav-link" href="/facturacion/cobradas">Cobradas</a></li>
                                        <li><a class="nav-link" href="/facturacion/ventas">Ventas</a></li> <!--Todas -->
                                        <li><a class="nav-link" href="/facturacion/anular-factura">Anular</a></li>
                                        <li><a class="nav-link" href="/facturacion/ordenes-compra">Orden de compra</a></li> <!--Pedidos de los clientes-->
                                        <li><a class="nav-link" href="/facturacion/nueva-cotizacion">Cotización</a></li> 
                                        <li><a class="nav-link" href="/facturacion/ver-cotizaciones">Ver cotizaciones</a></li> 
                                        <li><a class="nav-link" href="/facturacion/libro-contable">Libro contable</a></li> <!--Realizar cotizaciones sin afectar stock-->
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                             <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Cobranza</a>
                                   <ul class="dropdown-menu dark2 bg-dark" aria-labelledby="navbarDropdown">
                                <a class=" dropdown-item text-light" href="/facturacion/cobranza">
                                    <p class="name_product nav-link">Cobranza</p>
                                </a>
                                  <a class=" dropdown-item text-light" href="/facturacion/devolucion">
                                    <p class="name_product nav-link">Realizar Devolución</p>
                                </a>
                                <a class=" dropdown-item text-light" href="/facturacion/todas-devoluciones">
                                    <p class="name_product nav-link">Devoluciones</p>
                                </a>
                                <a class=" dropdown-item text-light" href="/facturacion/todos-recibos">
                                    <p class="name_product nav-link">Recibos de pago</p>
                                </a>
                                <a class=" dropdown-item text-light" href="/facturacion/reporte-cxc">
                                    <p class="name_product nav-link">Reporte de cuentas por cobrar</p>
                                </a>
                                
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                             <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Inventario</a>
                                   <ul class="dropdown-menu dark2 bg-dark" aria-labelledby="navbarDropdown">
                                <a class=" dropdown-item text-light" href="/facturacion/registrar-stock">
                                    <p class="name_product nav-link">Crear Artículo</p>
                                </a>
                                <a class="dropdown-item text-light" href="/facturacion/stock">
                                    <p class="name_product nav-link">Editar Artículo</p>
                                </a>
                                      <a class=" dropdown-item text-light" href="/facturacion/registrar-garantias">
                                    <p class="name_product nav-link">Registrar garantías</p>
                                </a>
                                    <a class=" dropdown-item text-light" href="/facturacion/ver-garantias">
                                    <p class="name_product nav-link">Ver garantías</p>
                                </a>
                                </a>
                                    <a class=" dropdown-item text-light" href="/facturacion/estado-inventario">
                                    <p class="name_product nav-link">Estado de inventario</p>
                                </a>
                                 <a class=" dropdown-item text-light" href="/facturacion/reporte-ajustes">
                                    <p class="name_product nav-link">Reporte de movimientos</p>
                                </a>
                               <a class=" dropdown-item text-light" href="/facturacion/reporte-de-articulos">
                                    <p class="name_product nav-link">Reporte de articulos</p>
                                </a>
                                  <a class=" dropdown-item text-light" href="/facturacion/cambio-masivo-costo">
                                    <p class="name_product nav-link">Cambio masivo de costos</p>
                                </a>
                                  <a class=" dropdown-item text-light" href="/facturacion/reporte-stock">
                                    <p class="name_product nav-link">Reporte de stock</p>
                                </a>
                                  <li class="dropdown-submenu"><a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Ajuste de inventario</a>
                                    <ul class="dropdown-menu dark2 bg-dark">
                                        <li><a class="nav-link" href="/facturacion/descargar-stock">Descargar</a></li>
                                        <li><a class="nav-link" href="/facturacion/cargar-stock">Cargar</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <li class="nav-item dropdown">
                             <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Proveedor</a>
                                <ul class="dropdown-menu dark2 bg-dark" aria-labelledby="navbarDropdown">
                                    <a class=" dropdown-item text-light" href="/facturacion/crear-proveedor">
                                        <p class="name_product nav-link">Crear</p>
                                    </a>
                                    <a class="dropdown-item text-light" href="/facturacion/editar-proveedor">
                                        <p class="name_product nav-link">Editar</p>
                                    </a>
                                        <a class="dropdown-item text-light" href="/facturacion/realizar-ordenes">
                                        <p class="name_product nav-link">Realizar orden</p>
                                    </a>
                                    <a class="dropdown-item text-light" href="/facturacion/ordenes-proveedor">
                                        <p class="name_product nav-link">Lista de ordenes</p>
                                    </a>
                                    <a class="dropdown-item text-light" href="/facturacion/reporte-de-proveedores">
                                        <p class="name_product nav-link">Reporte de proveedores</p>
                                    </a>
                                </ul>
                            </li>
                        </li>

                        <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">Cliente</a>
                        <ul class="dropdown-menu dark2 bg-dark" aria-labelledby="navbarDropdown">
                            <a class=" dropdown-item text-light" href="/facturacion/registrar-cliente">
                                <p class="name_product nav-link">Registrar</p>
                            </a>
                            <a class="dropdown-item text-light" href="/facturacion/clientes">
                                <p class="name_product nav-link">Editar</p>
                            </a>
                            <a class="dropdown-item text-light" href="/facturacion/aprobar-usuarios">
                                <p class="name_product nav-link">Aprobar o rechazar</p>
                            </a>
                            <a class="dropdown-item text-light" href="/facturacion/pausar-activar-cliente">
                                <p class="name_product nav-link">Pausar o activar</p>
                            </a>
                            <a class="dropdown-item text-light" href="/facturacion/reporte-cliente">
                                <p class="name_product nav-link">Reportes</p>
                            </a>
                            <a class="dropdown-item text-light" href="/facturacion/reportes-precio">
                                <p class="name_product nav-link">Lista de precios</p>
                                </a>
                                <a class="dropdown-item text-light" href="/facturacion/solicitudes-recuperacion-contrasena">
                                <p class="name_product nav-link">Solicitudes de recuperación</p>
                            </a>
                        </ul>
                        </li>

                        <li class="nav-item dropdown">
                             <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Vendedor</a>
                                   <ul class="dropdown-menu dark2 bg-dark" aria-labelledby="navbarDropdown">
                                <a class=" dropdown-item text-light" href="/facturacion/registrar-vendedor">
                                    <p class="name_product nav-link">Registrar</p>
                                </a>
                                <a class="dropdown-item text-light" href="/facturacion/vendedores">
                                    <p class="name_product nav-link">Editar</p>
                                </a>
                                <a class="dropdown-item text-light" href="/facturacion/reporte-vendedores">
                                    <p class="name_product nav-link">Reportes</p>
                                </a>
                                <a class="dropdown-item text-light" href="/facturacion/pausar-activar-vendedor">
                                    <p class="name_product nav-link">Pausar o activar</p>
                                </a>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                             <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Transporte</a>
                                   <ul class="dropdown-menu dark2 bg-dark" aria-labelledby="navbarDropdown">
                               <a class=" dropdown-item text-light" href="/facturacion/registrar-transporte">
                                    <p class="name_product nav-link">Registrar</p>
                                </a>
                                <a class="dropdown-item text-light" href="/facturacion/transportes">
                                    <p class="name_product nav-link">Editar</p>
                                </a>
                                <a class="dropdown-item text-light" href="/facturacion/activar-inactivar-transporte">
                                    <p class="name_product nav-link">Pausar o activar</p>
                                </a>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                             <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Registrar perfil</a>
                                   <ul class="dropdown-menu dark2 bg-dark" aria-labelledby="navbarDropdown">
                                <a class=" dropdown-item text-light" href="/facturacion/registrar-usuario">
                                    <p class="name_product nav-link">Registrar</p>
                                </a>
                                <a class="dropdown-item text-light" href="/facturacion/usuarios">
                                    <p class="name_product nav-link">Editar</p>
                                </a>
                                <a class="dropdown-item text-light" href="/facturacion/pausar-activar-usuario">
                                    <p class="name_product nav-link">Pausar o activar</p>
                                </a>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                             <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Comisión</a>
                                   <ul class="dropdown-menu dark2 bg-dark" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item text-light" href="/facturacion/comision/por-cancelar">
                                    <p class="name_product nav-link">Por cancelar</p>
                                </a>
                                <a class="dropdown-item text-light" href="/facturacion/comision/canceladas">
                                    <p class="name_product nav-link">Canceladas</p>
                                </a>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                             <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Administración</a>
                                   <ul class="dropdown-menu dark2 bg-dark" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item text-light" href="/facturacion/administracion">
                                    <p class="name_product nav-link">Libro de entradas y salidas</p>
                                </a>
                                <a class="dropdown-item text-light" href="/facturacion/cuentas-por-pagar">
                                    <p class="name_product nav-link">Cuentas por pagar</p>
                                </a>
                            </ul>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link" href="/facturacion/agenda">Agenda</a>
                        </li>
                        
                         <li class="nav-item">
                            <a class="nav-link" href="/facturacion/dashboard">Dashboard</a>
                        </li>

                    </ul>
                       <ul class="navbar-nav ml-0 mr-0">
                            <li class="nav-item">
                                <a class="nav-link" href="/usuarios/cerrar-sesion">
                                    <button class="btn btn-outline-success" type="button">
                                        Cerrar sesión
                                    </button>
                                </a>
                            </li>
                        </ul>
                </div>
            </div>
        </nav>
  </header>


  <main>
    <div class="container-fluid mt-4">
      <div class="row">
          {{>errors}}
        <div class="col-md">

          <div class="container-fluid mt-2">
            <div class="card">
              <div class="card-header">
                <h4 class="text-dark text-center bg-light">Aprobar usuario</h4>
              </div>
              <form action="/facturacion/pendiente-edited/{{pendientes._id}}?_method=PUT" class="form-group" method="POST">
                <input type="hidden" name="_method" value="PUT">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <label for="" class="text-dark">Fecha de registro:</label>
                      <input type="date" name="date" value="{{pendientes.date}}" class="form-control" readonly>
                    </div>
                    <div class="col-sm-3">
                      <label for="" class="text-dark">Empresa:</label>
                      <input type="text" name="Empresa" value="{{pendientes.Empresa}}" class="form-control" readonly>
                    </div>
                    <div class="col-sm-3">
                      <label for="" class="text-dark">Rif:</label>
                      <input type="text" name="Rif" value="{{pendientes.Rif}}" class="form-control" readonly>
                    </div>
                    <div class="col-sm-3">
                      <label for="" class="text-dark">Tipo precio:</label>
                         <select name="TipoPrecio" class="form-control js-exam">
                            <option value="0">--Seleccione un tipo de precio--</option>
                            <option value="GRANMAYOR">Precio gran mayor</option>
                            <option value="MAYOR">Precio mayor</option>
                            <option value="DETAL">Precio detal</option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                      <label for="" class="text-dark">Direccion fiscal:</label>
                      <input type="text" name="Direccion" value="{{pendientes.Direccion}}" class="form-control" readonly>
                    </div>
                    <div class="col-sm-4">
                      <label for="" class="text-dark">Nombres:</label>
                      <input type="text" name="Nombres" value="{{pendientes.Nombres}}" class="form-control" readonly>
                    </div>
                    <div class="col-sm-4">
                      <label for="" class="text-dark">Apellidos:</label>
                      <input type="texyt" name="Apellidos" value="{{pendientes.Apellidos}}" class="form-control" readonly>
                    </div>
                    <div class="col-sm-3">
                      <label for="" class="text-dark">Celular:</label>
                      <input type="number" name="Celular" value="{{pendientes.Celular}}" class="form-control" readonly>
                    </div>
                    <div class="col-sm-3">
                      <label for="" class="text-dark">Telefono:</label>
                      <input type="number" name="Telefono" value="{{pendientes.Telefono}}" class="form-control" readonly>
                    </div>
                    <div class="col-sm-3">
                      <label for="" class="text-dark">Correo electronico:</label>
                      <input type="email" name="email" value="{{pendientes.email}}" class="form-control" readonly>
                    </div>
                    <div class="col-sm-3">
                      <label for="" class="text-dark">Selecciona vendedor:</label>
                      <select name="Vendedor" class="form-control">
                        <option value="0">--Seleccione vendedor--</option>
                        {{#each vendedores}}
                            <option value="{{Username}}">{{Username}}</option>
                        {{/each}}   
                      </select>
                    </div>
                  </div>
                </div>
            </div>
            <div class="mt-2 mb-3 text-end">
              <input type="submit" value="Aprobar usuario" class="btn btn-outline-success">
            </div>
            </form>
              <!-- Button trigger modal -->
                        <div class="col-md text-end mt-4">

                            <button type="button" class="btn btn-outline-danger" data-toggle="modal"
                                data-target="#exampleModal">
                                Rechazar usuario
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog " role="document">
                    <div class="modal-content bg-dark">
                        <div class="modal-header">
                            <h5 class="modal-title text-center" id="exampleModalLabel">Rechazar usuario</h5>
                            <button type="button" class="close btn-secondary h4" data-dismiss="modal"
                                aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p class="h5">
                                ¿Estas seguro/a que quieres rechazar al cliente <strong class="text-light">
                                    {{pendientes.Empresa}} </strong>?
                            </p>
                            <label for="">Introduce una razon de rechazo <span class="text-muted">(Opcional):</span> </label>
                            <textarea name="emailContent"  cols="75" rows="10"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <form action="/facturacion/usuario-cliente-delete/{{pendientes._id}}?_method=DELETE" method="POST">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn btn-danger">Eliminar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </main>



  
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="/js/bootstrap.js"></script>
    <script>
        document.addEventListener("keydown", e => {
            if(e.keyCode == 120 ){
                window.open('/facturacion/acceso-directo-stock', 'Stock', "width=1400, heigh=100%")
            }
        })
    </script>
<footer class="footer fixed-bottom" style="background-color: rgba(41, 41, 41, 0.99);">
    <div class="container-fluid text-center mt-2">
        <span class="text-muted">SISTEMA ADMINISTRATIVO THOMSON</span>
    </div>
</footer>
</body>

</html>