<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="shortcut icon" href="/css/assets/logo.png" />
</head>

<body class="bg-light">
    <div class="container-fluid mt-2 mx-auto ">
        <div class="container-fluid">
            <div class="row bg-light">
                <div class="col-sm">
                    <img src="/img/assets/logo-nota.png" alt="" width="250px" height="80px">
                </div>
            </div>
            <div class="row bg-light">
                <div class="col-sm text-center">
                    <h4 class="text-dark">NOTA DE CREDITO #{{factura.NotaCredito}}</h2>
                        <p class="text-dark text-center h6" id="factura">NOTA DE ENTREGA: {{factura.NotaEntrega}} <strong></strong></p>
                </div>
            </div>
            <div class="row bg-light">
                <div class="col-sn">
                    <p class="text-dark text-end h6 ">Fecha: {{factura.Fecha}} <strong id="date"></strong></p>
                </div>
            </div>
            <div class="row bg-light">
                <div class="col-sm">
                    <p class="h6 text-dark">Nombre o razón social: {{factura.Cliente}} <span id="cliente" class="h6"></span></p>
                    <p class="h6 text-dark">RIF/C.I.: {{factura.Documento}} <span id="documento" class="h6"></span></p>
                    <p class="h6 text-dark">Celular/Teléfono: {{factura.Celular}} <span id="celular" class="h6"></span></p>
                    <p class="h6 text-dark">Direccion: {{factura.Direccion}} <span id="direccion" class="h6"></span></p>
                    <p class="h6 text-dark">Vendedor: {{factura.VendedorCodigo}} <span id="Vendedor" class="h6"></span></p>
                </div>
            </div>
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-sm">
                        <thead class="border">
                            <tr>
                                <th class="h6 text-center border border-dark">DESCRIPCIÓN</th>
                                <th class="h6 text-center border border-dark">PRECIO UNITARIO</th>
                                <th class="h6 text-center border border-dark">CANTIDAD</th>
                                <th class="h6 text-center border border-dark">PRECIO TOTAL</th>
                            </tr>
                        </thead>
                        <tbody id="contenido-table">
                            <tr>
                                <td class="h6 text-center">{{factura.Descripcion}}</td>
                                <td class="h6 text-center">{{factura.PrecioUnitario}}</td>
                                <td class="h6 text-center">{{factura.Cantidad}}</td>
                                <td class="h6 text-center">{{factura.PrecioTotal}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <script>
            window.print()
        </script>
</body>

</html>