<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="shortcut icon" href="/css/assets/logo.png" />
</head>

<body class="bg-light">
    <div class="container-fluid mt-2 mx-auto ">
        <div class="container-fluid">
            <div class="row bg-light">
                <div class="col-sm">
                    <img src="/css/assets/logo.png" alt="" class="img-fluid" width="250px" height="50px">
                </div>
            </div>
            <div class="row bg-light">
                <div class="col-sm text-center">
                    <h4 class="text-dark">RECIBO DE PAGO DE COMISIÓN #{{Recibo.Recibo}}</h2>
                </div>
            </div>
            <div class="row bg-light">
                <div class="col-sn">
                    <p class="text-dark text-end h6 ">Fecha: {{Recibo.Fecha}} <strong id="date"></strong></p>
                </div>
            </div>
            <div class="row bg-light">
                <div class="col-sm">
                    <p class="h6 text-dark">Vendedor: {{Recibo.Nombres}} {{Recibo.Apellidos}} <span id="cliente" class="h6"></span></p>
                    <p class="h6 text-dark">Documento: {{Recibo.Documento}} <span id="documento" class="h6"></span></p>
                    <p class="h6 text-dark">Celular/Teléfono: {{Recibo.Celular}} <span id="celular" class="h6"></span></p>
                    <p class="h6 text-dark">Direccion: {{Recibo.Direccion}} <span id="direccion" class="h6"></span></p>
                </div>
            </div>
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-sm">
                        <thead class="border">
                            <tr>
                                <th class="h6 text-center border border-dark">Cliente</th>
                                <th class="h6 text-center border border-dark">Factura</th>
                                <th class="h6 text-center border border-dark">Monto</th>
                            </tr>
                        </thead>
                        <tbody id="contenido-table">
                            {{#each Recibo.Facturas}}
                            <tr>
                                <td class="h6 text-center">{{Cliente}}</td>
                                <td class="h6 text-center">{{Factura}}</td>
                                <td class="h6 text-center">{{Comision}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                        <tfoot>
                               <td class="h6 text-center"></td>
                                <td class="h6 text-end text-danger">Total</td>
                                <td class="h6 text-center">{{totalPagado}}</td>
                        </tfoot>
                    </table>
                </div>
            </div>
            </div>
            <div class=" fixed-bottom mb-5" id="footer">
                <div class="row">
                     <div class="col-sm-6 mt-5">
                        <p class="h6 text-start text-dark mt-2">{{Recibo.Comentario}}</p>
                    </div>
                    <div class="col-sm border border-dark">
                    </div>
                </div>
            </div>
        <script>
            window.print()
        </script>
</body>

</html>